#main-title {
  color: #191970;
  font-size: 30px;
  text-align: center;
}

.page {
  background-color:	#4169E1;
}

.content {
  background-color: 	#6495ED;
}

h1 {
  color: #191970;
  font-size: 30px;
}

h2 {
  color: #00008B;
  font-size: 25px;
  text-align: center;
}

h3 {
  color: #00008B;
  font-size: 20px;
  margin-left: 50px;
}

h4 {
  color: #00008B;
  font-size: 15px;
  margin-left: 40px;
}

p {
  color: black;
  font-size: 15px;
  margin-left: 20px;
}

li {
  color: black;
  font-size: 15px;
}

a {
  color: black;
  font-size: 15px;
}

#etc {
  margin: 40px;
}
